.sortedm2m-container {
    margin-right: 10px;
    width: 570px;
}

.sortedm2m-container p.selector-filter {
    width: 570px;
    padding: 0;
    margin: 0;
}

.sortedm2m-container p.selector-filter input {
    width: 532px;
    margin: 0 0 0 4px;
}

ul.sortedm2m {
    display: block;
    width: 554px;
    min-height: 200px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 6px 8px;
    list-style-type: none;
    text-align: left;
}

ul.sortedm2m li {
    list-style-type: none;
    text-align: left;
    width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.sortedm2m-item, .sortedm2m label {
    cursor: move;
}

/* required to work properly in django admin */
body.change-form .sortedm2m-container {
    float: left;
}
.module ul.sortedm2m {
    margin: 0;
    padding: 10px 0;
}

.hide {
    display: none;
}
